




<div class="sidebar">
  <!-- <div class="sidebar__header">
    <div class="sidebar__logo">
      <img src="assets/logo.png" alt="App Logo" class="logo__image">
      <h1 class="logo__text">ChatApp</h1>
    </div>
  </div> -->

  <div class="sidebar__search">
    <input type="text" class="search__input" placeholder="Search chats..." [(ngModel)]="searchTerm" (input)="filterChats()"/>
  </div>

  <div class="sidebar__menu">
    <ul class="menu__list">
      <li class="menu__item"  (click)="toggleGroupChats()">
        <i class="fas fa-users"></i> Community
      </li>
      <li class="menu__item" (click)="togglePrivateChats()"  (click)="showAllPrivateChats">
        <i class="fas fa-user-friends"></i> All Chats
      </li>
    </ul>
  </div>

    <!-- Chat List (Toggle between Personal, Group, and Recent Chats) -->
    <div class="sidebar__chats">
      <app-sidebar-loader [loading]="isLoading"></app-sidebar-loader>

      <h3 class="chats__title" *ngIf="!isLoading">
        {{ showGroupChats ? 'Group Chats' : (showAllPrivateChats ? 'All Private Chats' : 'Recent Chats') }}
      </h3>
      <ul class="chats__list" *ngIf="!isLoading">
        <!-- Render Group Chats -->
        <ng-container *ngIf="showGroupChats">
          <li class="chats__item" *ngFor="let chat of groupChats" 
          (click)="openChat(chat._id, chat.type)" 
          [class.new-message]="chat.hasNewMessage && chat.lastMessage.sender !== userId">          
            <div class="chat__avatar">
              <img [src]="chat.profilePicture || 'assets/default-avatar.png'" alt="{{ chat.name }}'s avatar" class="avatar__image">
            </div>
            <div class="chat__info">
              <span class="chat__name">{{ chat.name }}</span>
              <span class="chat__last-message">{{ 'Meet new People' }}</span>
            </div>
          </li>
        </ng-container>
  
        <!-- Render Personal Chats or Recent Chats -->
        <ng-container *ngIf="!showGroupChats">
          <li class="chats__item" 
              *ngFor="let chat of (searchTerm ? filteredPrivateChats : (showAllPrivateChats ? allPrivateChats : recentChats))" 
              (click)="openChat(chat._id, chat.type)"
              [class.new-message]="chat.hasNewMessage">
            <div class="chat__avatar">
              <img [src]="getProfileImage(chat.participants)" alt="{{ chat.name }}'s avatar" class="avatar__image">
            </div>
            <div class="chat__info">
              <span class="chat__name">{{ getParticipantName(chat.participants) }}</span>
              <span class="chat__last-message">
                {{ chat.lastMessage?.message ? 
                   (chat.lastMessage?.message.length > 10 ? chat.lastMessage?.message.slice(0, 10) + '...' : chat.lastMessage?.message) 
                   : 'No New Message' }}
              </span>            </div>
          </li>
        </ng-container>
        
      </ul>
    </div>

  <button class="new-chat-button" (click)="showModal = true">+ Add New Chat</button>

  <div class="sidebar__footer">
    <button class="footer__button" (click)="goToSettings()">
      <i class="fas fa-cog"></i> Settings
    </button>
    <button class="footer__button" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </div>

  <div class="modal" *ngIf="showModal">
    <div class="modal__content">
      <span class="close" (click)="showModal = false">&times;</span>
      <h2>Start a New Chat</h2>
      <input [(ngModel)]="newChatEmail" placeholder="Enter email to chat" class="modal__input">
      <button (click)="createOrJoinPersonalChat()" class="modal__button">Start Chat</button>
    </div>
  </div>
</div>
